*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/**
 * 1. Padding to accommodate fixed navbar.
 */

body {
  background: #fff;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica,
    Ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
  padding-top: 5rem; /* 1 */
}

/**
 * Screen reader only
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Accented uppercase text for styling the company name in text.
 */

.brand {
  color: #e95d09;
  font-weight: 700;
  text-transform: uppercase;
}

/**
 * Generic buttons.
 */

.btn {
  background: #e95d09;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
}

.btn:focus,
.btn:hover {
  background: #d45509;
}

.btn_block {
  display: block;
  width: 100%;
}

/**
 * Generic section. A section's content maxes out to be around 1000px wide.
 *
 * 1. Generous vertical padding between sections, and some padding on the side
 * between content and the display edge on mobile.
 * 2. Horizontal centering.
 */

.section {
  padding: 3rem 1.5rem; /* 1 */
}

.section_theme_dark {
  background: #232323;
  color: #fff;
}

.section__inner {
  max-width: 100rem;
  margin: auto; /* 2 */
}

.section__title {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

/**
 * Flex container for a row of two columns.
 *
 * 1. Negative margin to offset the first column's left margin.
 */

.split {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem; /* 1 */
}

/**
 * 1. Space between the columns. The left margin of the first column will be
 * offset by the parent's negative left margin.
 */

.split__item {
  flex-basis: 20rem;
  flex-grow: 1;
  margin-left: 3rem; /* 1 */
}

.split_col_l .split__item {
  flex-basis: 30rem;
}

/**
 * A flex container for three items. I'm tempted to combine this and the split
 * block, but I don't think it's worth it.
 *
 * 1. Negative margins to offset the margins of the first item, keeping the
 * whole thing symmetric.
 */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -1.5rem; /* 1 */
  margin-top: -1.5rem; /* 1 */
}

.flex-row__item {
  border: 0.1rem solid #4d4d4d;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  max-width: 32rem;
}

.flex-row__thumbnail {
  display: block;
  height: auto;
  order: -1;
  width: 100%;
}

/**
 * Centers a single block within its container.
 */

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**
 * Responsive embedded iframe map. The iframe is assumed to be 600x450 (but any
 * dimension should be fine as long as the aspect ratio is 4:3).
 *
 * <div class="map">
 *   <iframe class="map__iframe" src="..." width="600" height="450" ...></iframe>
 * </div>
 *
 * 1. Necessary amount of padding for a 4:3 iframe (3/4 == 0.75)
 */

.map {
  overflow: hidden;
  padding-top: 75%; /* 1 */
  position: relative;
}

.map__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * Navbar styles. The styles on the root level of this stylesheet assume a
 * mobile viewport.
 *
 * 1. Fix to top of viewport.
 * 2. Make sure it's on top of other elements (especially the map iframe).
 */

.navbar {
  background: #fff;
  border-bottom: 0.1rem solid #4d4d4d;
  left: 0; /* 1 */
  padding: 0 1.5rem;
  position: fixed; /* 1 */
  top: 0; /* 1 */
  width: 100%; /* 1 */
  z-index: 1; /* 2 */
}

/**
 * Contains the contents of the navbar.
 *
 * 1. Make it so the links are below the brand and toggle button. Based on
 * Bootstrap 4's styles.
 */

.navbar__inner {
  display: flex;
  flex-wrap: wrap; /* 1 */
  justify-content: space-between; /* 1 */
}

/**
 * 1. Provide the initial height for the navbar. I could have set this as the
 * inner's min-height instead, but the brand and toggler gets pushed up when the
 * list is uncollapsed.
 */

.navbar__brand {
  height: 5rem; /* 1 */
}

/**
 * The image used for the brand link on the left side of the navbar.
 *
 * 1. Sensible size for the image.
 */

.navbar__brand-logo {
  width: 45px; /* 1 */
  height: auto;
}

/**
 * The toggle button for showing/hiding the nav links.
 */

.navbar__toggler {
  background: inherit;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  width: 5rem;
}

/**
 * List of nav links.
 *
 * 1. Occupy full width of the navbar. This causes the list to wrap to the next
 * row.
 * 2. Top margin to separate list from brand and toggle button.
 */

.navbar__links {
  flex: 1 1 100%; /* 1 */
  list-style: none;
  margin: 1.5rem 0 0; /* 2 */
  padding: 0;
}

/**
 * Hides the links when applied. I might add animations later. Note that because
 * of how CSS works this display property is always overridden in the media
 * query below.
 */

.navbar__links_collapsed {
  display: none;
}

/**
 * Actual nav link.
 *
 * 1. Vertical spacing between links.
 */

.navbar__link {
  color: #e95d09;
  display: block;
  padding: 1rem 0; /* 1 */
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  /**
   * 1. Remove vertical padding. They will be provided by the nav links instead
   * (to give the impression that the links are flushed to the top/bottom edges
   * of the nav.
   */

  .navbar {
    padding-bottom: 0; /* 1 */
    padding-top: 0; /* 1 */
  }

  /**
   * 1. Inner nav becomes a single-row flex container.
   */

  .navbar__inner {
    flex-wrap: nowrap; /* 1 */
    margin: auto;
    max-width: 100rem;
  }

  /**
   * 1. Toggle button is not needed for large viewports.
   */

  .navbar__toggler {
    display: none; /* 1 */
  }

  /**
   * 1. Links are now arranged horizontally along the navbar.
   * 2. Flex value for mobile view is no longer applicable; revert to default.
   * 3. Top margin for mobile view is no longer applicable; remove it.
   */

  .navbar__links {
    display: flex; /* 1 */
    flex: unset; /* 2 */
    margin: 0; /* 3 */
  }

  /**
   * 1. Space between links.
   * 2. Center the text within the link vertically.
   * 3. Make sure the link is flushed vertically against the nav's top/bottom
   * edges.
   */

  .navbar__link {
    align-items: center; /* 2 */
    display: flex; /* 2 */
    height: 100%; /* 3 */
    padding: 0 1.5rem; /* 1 */
  }
}

/**
 * Masthead
 */

.masthead {
  background: #2c2c2c no-repeat center / cover url('/assets/images/masthead-bg.jpg');
  padding: 6rem 0;
}

/**
 * Masthead logo images. Uses standard image centering.
 */

.masthead__logo,
.masthead__text-logo {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}

.masthead__logo { max-width: 25rem; }
.masthead__text-logo { max-width: 52rem; }

/**
 * The strip on which the logo text image is placed.
 *
 * 1. This color is slightly brighter than that in the spec, so the orange text
 * is more legible.
 */

.masthead__strip {
  background: rgba(255, 255, 255, 0.75); /* 1 */
  padding: 1.5rem;
}

/**
 * About Section
 */

.about__prose {
  text-align: center;
}

.about__prose_size_l {
  font-size: 2rem;
  font-weight: 300;
}

/**
 * Products Section
 */

.products__grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: auto;
}

/**
 * For now, each item is an img element. This might change to divs in the future
 * as more info is given to us.
 */

.products__item {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

/**
 * Contact Section
 */

.contact__form {
  margin: auto;
  max-width: 60rem;
}

/**
 * Container for inputs (or label/input pairs)
 */

.contact__form-group {
  padding: 0.75rem 0;
}

.contact__input-field,
.contact__message-field {
  display: block;
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.contact__message-field {
  resize: vertical;
}

/**
 * Page footer
 *
 * 1. Little bottom margin because the copyright paragraph has default margins
 * that I didn't bother to remove.
 */

.page-footer {
  background: #bebebe;
  padding: 2rem 1.5rem 0.5rem; /* 1 */
}

.page-footer__inner {
  margin: auto;
  max-width: 100rem;
}

/**
 * 1. Inherent width of logo.
 */

.page-footer__logo {
  display: block;
  height: auto;
  max-width: 400px; /* 1 */
  width: 100%;
}

.page-footer__title {
  font-size: 1.8rem;
  font-weight: 700;
}

/**
 * Container for tel/email links.
 *
 * 1. Increased line height for human thumbs.
 * 2. More pronounced color compared to rest of footer text.
 */

.page-footer__contact-info {
  color: #000; /* 2 */
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2; /* 1 */
}

.page-footer__link {
  color: inherit;
  text-decoration: underline;
}

.page-footer__copy {
  text-align: center;
}

/**
 * Bottom panel for contact links.
 *
 * 1. Flush all the way to the bottom.
 * 2. Small font size to fit the phone numbers.
 * 3. Fixed height. While this is such, there's no need for the page to have the
 * same bottom padding, since this panel is hidden anyway.
 */

.bottom-panel {
  background: #dedede;
  border-top: 0.1rem solid #4d4d4d;
  bottom: 0; /* 1 */
  display: flex;
  font-size: 1.2rem; /* 2 */
  height: 6rem; /* 3 */
  left: 0; /* 1 */
  position: fixed; /* 1 */
  width: 100%; /* 1 */
}

/**
 * Button styles for the bottom panel.
 *
 * 1. Button icon on top of label.
 * 2. 0 flex-basis guarantees equal widths for the buttons.
 * 3. Minor text vertical alignment.
 */

.bottom-panel__btn {
  align-items: center;
  border-left: 0.1rem solid #4d4d4d;
  color: #000;
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
  flex: 1 1 0; /* 2 */
  justify-content: center;
  line-height: 1; /* 3 */
  text-decoration: none;
}

.bottom-panel__btn:first-of-type {
  border-left: 0;
}

/**
 * 1. A bit of space between the icon and label.
 */

.bottom-panel__icon {
  margin-bottom: 0.5rem; /* 1 */
}
